.footer {
  background: #10100e;
  &__container {
    max-width: 1170px;
  }

  &__body {
    padding: 230px 0 100px 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 40px;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 500px) {
      justify-content: center;
    }
  }

  &__block {
  }
}

.block-footer {
  display: flex;
  column-gap: 54px;
  &:nth-child(1),
  &:nth-child(3) {
    flex-direction: column;
    @media (max-width: 500px) {
      text-align: center;
    }
  }
  @media (max-width: 767.98px) {
    &:nth-child(1) {
      flex: 1 1 100%;
    }
  }

  &__logo {
    display: inline-block;
    margin: 0 0 38px -15px;
    @media (max-width: 500px) {
      margin: 0 0 15px -15px;
    }
  }

  &__text {
    max-width: 240px;
    color: #ffffff;
    opacity: 0.5;
    @media (max-width: 500px) {
      max-width: none;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__item {
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px/20px * 100%;
    color: #ffffff;
    &:not(:last-child) {
      margin: 0 0 20px 0;
    }
  }

  &__top {
    letter-spacing: -0.01em;
    color: #ffffff;
    opacity: 0.5;
  }

  &__date {
    letter-spacing: -0.01em;
    color: #ffffff;
    opacity: 0.5;
  }
}

.item-block-footer {
  display: flex;
  align-items: center;
  gap: 12px;
  &__icon {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background-color: #fff;
    border-radius: 31px;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px/16px * 100%;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.84);
  }
}
