.header {
  position: absolute;
  width: 100%;
  z-index: 50;

  &__container {
    position: relative;
    @media (max-width: 1210px) {
      max-width: none;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 0;

    @media (max-width: 767.98px) {
      padding: 30px 0;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    @media (max-width: 767.98px) {
      flex: 1 1 auto;
    }
    @media (max-width: 424.98px) {
      & > *:nth-child(2) {
        display: none;
      }
      & > *:nth-child(1) {
        width: 64px;
        height: 48px;
        transform: translate(-45%, 0);
      }
    }
  }

  &__nav {
  }

  &__button {
    transition: all 0.3s ease 0s;
    flex: 0 0 152px;
    line-height: 56px;
    border: 1.5px solid #777f96;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #fff9f8;
    @media (max-width: 424.98px) {
      flex: 0 0 130px;
    }
    &:hover {
      background-color: #34a5e4;
      border-color: #34a5e4;
    }
  }

  &__icon-menu {
    @media (min-width: 769px) {
      display: none;
      opacity: 0;
      visibility: hidden;
    }
    @media (max-width: 767px) {
      display: block;
      position: relative;
      width: 60px;
      height: 32px;
      margin: 0 0 0 20px;
      cursor: pointer;
      z-index: 5;
      span {
        position: absolute;
        width: 100%;
        height: 4px;
        top: 14px;
        left: 0;
        background-color: #fff9f8;
        transition: all 0.3s ease 0s;
        &:first-child {
          top: 0;
        }
        &:last-child {
          top: auto;
          bottom: 0;
        }
      }
      &.active {
        span {
          background-color: #fff9f8;
          transform: scale(0);
          &:first-child {
            transform: rotate(-45deg);
            top: 14px;
          }
          &:last-child {
            transform: rotate(45deg);
            bottom: 14px;
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    & {
      position: absolute;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 70%;
      background-color: transparent;
      z-index: 3;
      padding: 0 0 100px 0;
    }
  }
}

.nav-header {
  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 10px;
  }

  &__item {
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px/14px * 100%;
    text-align: center;
    text-transform: lowercase;
    color: rgba(255, 255, 255, 0.88);
  }
  @media (max-width: 767px) {
    & {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      right: -100%;
      background-color: #5e6068;
      overflow: auto;
      padding: 30px 0 20px 0;
      z-index: 2;
      transition: all 0.3s ease 0s;
      &.active {
        right: 0;
      }
    }

    &__list {
      flex: 1 1 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: right;
      margin: 100px 0 0 0;
    }
    &__item {
      margin: 0;
      &:not(:last-child) {
        margin: 0 0 20px 0;
      }
    }
    &__link {
      font-size: 40px;
    }
  }
}
